
<table class="table table-bordered">
		  <thead>
			<tr>
			  <td>Name</td>
			  <td>Age</td>
			  <td>Gender</td>
			  <td>Qualification</td>
              <td>Status</td>
              <td>Course</td>


			  <td width="275" align="center">Action</td>
			</tr>
		  </thead>
		  <tbody>
			 <tr  *ngFor="let student of students">
				<td>{{student.name}}</td>
				<td>{{student.age}}</td>
				<td>{{student.gender}}</td>
				<td>{{student.qualification}}</td>
				<td>{{student.status}}</td>
				<td>{{student.course}}</td>
				<td width="275"> 
					<a class="btn btn-info" routerLink="/show/{{student._id}}">Details</a> 
					<a class="btn btn-success"  routerLink="/edit/{{student._id}}">Edit</a>
					<a class="btn btn-danger" (click)="deleteStudent(student._id)">Delete</a>
				</td>
			 </tr>
		  </tbody>
		</table>